In [1]:
import seaborn as sns
import pandas as dp
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use("seaborn-whitegrid")

In [2]:
tips=sns.load_dataset("tips")

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [6]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [9]:
feature=tips[["total_bill"]]
target=tips["tip"]

In [10]:
feature.shape

(244, 1)

In [11]:
# x_train-->Features by which model will trained
# x_test-->Features by which we will test accuracy of model

In [13]:
x_train,x_test,y_train,y_test=train_test_split(feature,target,test_size=0.25)

In [14]:
model=LinearRegression()

In [15]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [16]:
model.coef_

array([0.09947429])

In [17]:
model.intercept_

1.068510229514351

In [18]:
model.predict([[30],[40],[55],[23]])

array([4.05273892, 5.04748182, 6.53959617, 3.35641889])

In [19]:
x_test[:5]

     total_bill
98        21.01
234       15.53
219       30.14
188       18.15
45        18.29

In [20]:
y_test[:5]

98     3.00
234    3.00
219    3.09
188    3.50
45     3.00
Name: tip, dtype: float64

In [23]:
#from sklearn.matrices import accuracy_score,mean_absolute_error