In [7]:
cmd="select * from Person"
data="create table Person(p_id int(5) primary key,p_name char(20),p_branch char(20),p_address varchar(20))"
c2="update Person set p_address='shanti_nagar3040fd' where p_id=2 "
c3="use summer_intern"
c4="show databases"
c5="select p_name,p_branch from Person"
c6="describe databases"
c7="insert into Person values(1,'Priyanka','EE','bapu nagar 567 jaipur')(2,'Komal','EC','shanti nagar 437 jodhpur')\
(3,'Jyoti','CS','bapu nagar 57 kota')(4,'Nehal','ME','vidhya nagar k-87 jaipur')"

In [10]:
import MySQLdb as sql
curs=sql.connect()
cur=db.cursor()
cur.execute(cmd)

OperationalError: (2002, "Can't connect to MySQL server on 'localhost' (10061)")